.article-list-item{
    padding: 24px 19px;
    margin-bottom: 26px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    
    &:hover{
        cursor: pointer;
    }

    .article{
        &__header{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-between;

            .title{
                &__info{
                    padding-bottom: 6px;
                }
                &__tags{
                    padding-bottom: 5px;
                }
            }
        }
    }
}